body {
  padding-top: 80px;
}

.mainDiv{
  display: flex;
  padding: 30px 40px;
}

.listCartDiv{
  width:70%;
}
.orderCart{
  width:30%;
}
.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
  float: left;
  margin: 10px;
  padding: 0 7px 0 7px;
  border-radius: 5px;
  border: 2px solid #80808040;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}
.card-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.headerStyle{
  width: 30%;
}
.totalCart{
  display: table;
  border: 2px solid gray;
}
.input-group{
  display: flex;
}